@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="">
            <div class=" container d-flex justify-content-between ">
                <h2 class="p-4">DAY</h2>
                <ul class="d-flex gap-5 p-4">
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Portfoio</li>
                    <li>Pricing</li>
                    <li>Team</li>
                    <li>DropDown</li>
                    <li>Contact</li>
                </ul>
            </div>
        </nav>
        <div style="background-image: url(https://bootstrapmade.com/demo/templates/Day/assets/img/hero-bg.jpg);"
            class="">
            <div class="home container d-flex flex-column justify-content-center">
                <h1>WELCOME TO DAY</h1>
                <p>We are team of talented designers making websites with Bootstrap</p>
                <button type="button" class="btn btn-outline-dark">GET STARTED</button>
            </div>
        </div>
    </header>
    <!-- 1 -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <ul>
                        <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
                        </li>
                    </ul>
                    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="col-6">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/about.jpg" alt="">
                </div>
            </div>
            <div class="row hover-card pb-5 pt-5">
                <div class="col-4">
                    <p class="digit">01</p>
                    <h3>Lorem Ipsum</h3>
                    <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
                </div>
                <div class="col-4">
                    <p class="digit">01</p>
                    <h3>Lorem Ipsum</h3>
                    <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
                </div>
                <div class="col-4">
                    <p class="digit">01</p>
                    <h3>Lorem Ipsum</h3>
                    <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
                </div>
            </div>

        </div>
        <div class="logoes">
            <div class="container logo-heigth">
                <div class="row justify-content-center align-items-center">
                    <div class="col-2">
                        <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-1.png" alt="">
                    </div>
                    <div class="col-2">
                        <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-2.png" alt="">
                    </div>
                    <div class="col-2">
                        <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-3.png" alt="">
                    </div>
                    <div class="col-2">
                        <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-4.png" alt="">
                    </div>
                    <div class="col-2">
                        <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-5.png" alt="">
                    </div>
                    <div class="col-2">
                        <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/clients/client-6.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- 1 end -->
    <!-- 2 -->
    <section class="section-padding">
        <div class="container">
            <h2 class="text-center mb-4 fs-2 fw-bold">SERVICES</h2>
            <p class="text-center mb-4 fs-5 fw-normal"> Sit sint consectetur velit quisquam cupiditate impedit suscipit
                alias</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 card-box">
                    <div class="txt-services">
                        <i class="bi bi-arrow-up-square-fill"></i>
                        <h3>Lorem Ipsum</h3>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>
                <div class="col-4 card-box">
                    <div class="txt-services">
                        <i class="bi bi-arrow-up-square-fill"></i>
                        <h3>Lorem Ipsum</h3>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>
                <div class="col-4 card-box">
                    <div class="txt-services">
                        <i class="bi bi-arrow-up-square-fill"></i>
                        <h3>Lorem Ipsum</h3>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>
                <div class="col-4 card-box">
                    <div class="txt-services">
                        <i class="bi bi-arrow-up-square-fill"></i>
                        <h3>Lorem Ipsum</h3>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>
                <div class="col-4 card-box">
                    <div class="txt-services">
                        <i class="bi bi-arrow-up-square-fill"></i>
                        <h3>Lorem Ipsum</h3>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>
                <div class="col-4 card-box">
                    <div class="txt-services">
                        <i class="bi bi-arrow-up-square-fill"></i>
                        <h3>Lorem Ipsum</h3>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 2 End -->
    <!-- 3 -->
    <section class="section-padding url-img"
        style="background-attachment: fixed;background-image: url(https://bootstrapmade.com/demo/templates/Day/assets/img/cta-bg.jpg);">
        <div class="container text-center img-section">
            <h3>Call To Action</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
            <a href="" class="btn btn-light">CALL TO ACTION</a>
        </div>
    </section>
    <!-- 3 End -->
    <!-- 4 -->
    <section class="section-padding">
        <div class="container">
            <h2 class="text-center fw-bold">PORTFOLIO</h2>
            <p style="color: #444A50;" class="text-center pt-4">Sit sint consectetur velit quisquam cupiditate impedit
                suscipit alias</p>
                <ul class="d-flex align-items-center justify-content-center gap-5 text-decoration-none category p-4">
                         <li><a href="">All</a></li>
                @foreach(var item in Model.Categories)
            {
                
                         <li><a href="">@item.CatName</a></li>
                        

            }
                </ul>
            
            <div class="row portfolio-rows">
                <div class="col-4">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/portfolio/portfolio-1.jpg" alt="">
                    
                </div>
                <div class="col-4">
                    <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/portfolio/portfolio-2.jpg" alt="">
                </div>
                <div class="col-4">
                     <img src="https://bootstrapmade.com/demo/templates/Day/assets/img/portfolio/portfolio-3.jpg"

                </div>
            </div>
        </div>


    </section>
    <!-- 4 End -->
    <!-- 5 -->
    <section class="section-padding">
        <div class="container ">
            <h2 class="text-center">PRICING</h2>
            <p class="text-center mb-5 mt-3" style="color: #444A50;">Sit sint consectetur velit quisquam cupiditate
                impedit
                suscipit alias</p>
            <div class="row">
                <div class="col-4" style="background-color: #F9F9F9; border-radius: 2%;">
                    <div class="text-pricing text-center">
                        <h3>FREE</h3>
                        <p></p>
                        <h4>Aida dere</h4>
                        <h4>Nec feugiat nisl</h4>
                        <h4>Nulla at volutpat dola</h4>
                        <del class="d-block">Pharetra massa</del>
                        <del class="d-block">Massa ultricies mi</del>
                        <a href="" class="btn btn-danger"
                            style="background-color: #CC1616 !important ; border-radius: 0 !important;">Buy Now</a>
                    </div>
                </div>
                <div class="col-4"
                    style="background-color:  #CC1616;border-radius: 2%; padding: 40px; height: 350px; color: white;">
                    <div class="text-pricing text-center">
                        <h3>FREE</h3>
                        <p></p>
                        <h4>Aida dere</h4>
                        <h4>Nec feugiat nisl</h4>
                        <h4>Nulla at volutpat dola</h4>
                        <del class="d-block">Pharetra massa</del>
                        <del class="d-block">Massa ultricies mi</del>
                        <a href="" class="btn btn-danger"
                            style="background-color: #D64545 !important ; border-radius: 0 !important;">Buy Now</a>
                    </div>
                </div>
                <div class="col-4" style="background-color: #F9F9F9 ; border-radius: 2%;padding: 20px;">
                    <div class="text-pricing text-center">
                        <h3>FREE</h3>
                        <p></p>
                        <h4>Aida dere</h4>
                        <h4>Nec feugiat nisl</h4>
                        <h4>Nulla at volutpat dola</h4>
                        <del class="d-block">Pharetra massa</del>
                        <del class="d-block">Massa ultricies mi</del>
                        <a href="" class="btn btn-danger"
                            style="background-color: #CC1616 !important ; border-radius: 0 !important;">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- 5 End -->
    <!-- 6 -->
    <section class="section-padding">
        <div class="container">
            <h2 class="text-center">TEAM</h2>
            <p style="color: #444A50;" class="text-center mb-5 mt-3">Sit sint consectetur velit quisquam cupiditate
                impedit suscipit alias</p>
            <div class="row">
                <div class="col-4 text-center">
                    <img style="height: 150px; width: 150px; border-radius: 50%;"
                        src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-1.jpg" alt="">
                    <h4>Walter White</h4>
                    <p class="mb-2">Chief Executive Officer</p>
                    <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui
                        aut aut aut</p>
                    <div class="social">
                        <a href=""><i style="color: #444A50 ;" class="bi bi-twitter"></i></a>
                        <a href=""><i style="color: #444A50 ;" class="bi bi-facebook"></i></a>
                        <a href=""><i style="color: #444A50 ;" class="bi bi-instagram"></i></a>
                        <a href=""><i style="color: #444A50 ;" class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <img style="height: 150px; width: 150px; border-radius: 50%;"
                        src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-1.jpg" alt="">
                    <h4>Walter White</h4>
                    <p class="mb-2">Chief Executive Officer</p>
                    <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui
                    </p>

                    <div class="social ">
                        <a href=""><i style="color: #444A50 ;" class="bi bi-twitter"></i></a>
                        <a href=""><i style="color: #444A50 ;" class="bi bi-facebook"></i></a>
                        <a href=""><i style="color: #444A50 ;" class="bi bi-instagram"></i></a>
                        <a href=""><i style="color: #444A50 ;" class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <img style="height: 150px; width: 150px; border-radius: 50%;"
                        src="https://bootstrapmade.com/demo/templates/Day/assets/img/team/team-1.jpg" alt="">
                    <h4>Walter White</h4>
                    <p class="mb-2">Chief Executive Officer</p>
                    <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui
                    </p>
                    <div class="social">
                        <a href=""><i style="color: #444A50 ;" class="bi bi-twitter"></i></a>
                        <a href=""><i style="color: #444A50 ;" class="bi bi-facebook"></i></a>
                        <a href=""><i style="color: #444A50 ;" class="bi bi-instagram"></i></a>
                        <a href=""><i style="color: #444A50 ;" class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- 6 End -->
    <!-- 7 -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="text-center section-title"> 
                <h2>Contact</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>
            <div class="row aos-init aos-animate" data-aos="fade-up">
                <div class="col-lg-6">
                    <div class="info-box mb-4"> <i class="bx bx-map"></i>
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>lorem12

                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info-box mb-4"> <i class="bx bx-envelope"></i>
                        <h3>Lorem, ipsum.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem alias laboriosam eum?</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info-box mb-4"> <i class="bx bx-phone-call"></i>
                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, impedit.</h3>
                        <p>Lorem ipsum dolor sit./p>
                    </div>
                </div>
            </div>
            <div class="row aos-init aos-animate" data-aos="fade-up">
                <div class="col-lg-6 "> <iframe class="mb-4 mb-lg-0"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                        frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen=""></iframe></div>
                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group"> <input type="text" name="name" class="form-control"
                                    id="name" placeholder="Your Name" required=""></div>
                            <div class="col-md-6 form-group mt-3 mt-md-0"> <input type="email" class="form-control"
                                    name="email" id="email" placeholder="Your Email" required=""></div>
                        </div>
                        <div class="form-group mt-3"> <input type="text" class="form-control" name="subject"
                                id="subject" placeholder="Subject" required=""></div>
                        <div class="form-group mt-3"><textarea class="form-control" name="message" rows="5"
                                placeholder="Message" required=""></textarea></div>
                        <div class="my-3">
                            <div class="loading">dasdsad</div>
                            <div class="error-message"></div>
                            <div class="sent-message">dasdas asd has dassd. a you!</div>
                        </div>
                   </form>
                </div>
            </div>
        </div>
    </section>
    <!-- 7 End -->
    <footer class="text-center text-white " style="background-color: #21081a;">
        <!-- Grid container -->
        <div class="container p-4"></div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>

      <script src="~/assets/js/main.js"></script>
</body>

</html>
